<button
  mat-mini-fab
  color="primary"
  [disabled]="!(isReady$ | async)"
  (click)="onPlay()"
  *ngIf="!(isPlaying$ | async)"
>
  <mat-icon>play_arrow</mat-icon>
</button>
<button
  mat-mini-fab
  [disabled]="!(isReady$ | async)"
  (click)="onPause()"
  *ngIf="isPlaying$ | async"
>
  <mat-icon>pause</mat-icon>
</button>
<button
  mat-mini-fab
  [disabled]="!(isReady$ | async)"
  (click)="onMute()"
  *ngIf="!(isMuted$ | async)"
>
  <mat-icon>volume_off</mat-icon>
</button>
<button
  mat-mini-fab
  color="primary"
  [disabled]="!(isReady$ | async)"
  (click)="onUnMute()"
  *ngIf="isMuted$ | async"
>
  <mat-icon>volume_up</mat-icon>
</button>
<button
  mat-mini-fab
  color="warn"
  [disabled]="playlist.length === 0 || !(isReady$ | async)"
  (click)="onChange()"
>
  <mat-icon>skip_next</mat-icon>
</button>
