<button
  mat-mini-fab
  color="primary"
  (click)="onPlay()"
  *ngIf="!(isPlaying$ | async)"
>
  <mat-icon>play_arrow</mat-icon>
</button>
<button mat-mini-fab (click)="onPause()" *ngIf="isPlaying$ | async">
  <mat-icon>pause</mat-icon>
</button>
<button mat-mini-fab (click)="onMute()" *ngIf="!(isMuted$ | async)">
  <mat-icon>volume_off</mat-icon>
</button>
<button
  mat-mini-fab
  color="primary"
  (click)="onUnMute()"
  *ngIf="isMuted$ | async"
>
  <mat-icon>volume_up</mat-icon>
</button>
<button mat-mini-fab color="warn" [disabled]="playlist.length === 0">
  <mat-icon>skip_next</mat-icon>
</button>
