.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-tab-group {
  flex: 1;
  display: flex;
  overflow: auto;

  ::ng-deep {
    .mat-tab-body-wrapper {
      height: 100%;
    }
  }
}
