<div class="app-container">
  <app-player [videoId]="videoId"></app-player>
  <app-player-actions></app-player-actions>
  <mat-divider></mat-divider>
  <mat-tab-group
    mat-stretch-tabs
    color="accent"
    [dynamicHeight]="false"
    headerPosition="below"
    mat-align-tabs="center"
    backgroundColor="primary"
    #tabGroup
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">queue_music</mat-icon>
      </ng-template>
      <app-playlist></app-playlist>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">search</mat-icon>
      </ng-template>
      <app-search></app-search>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">manage_accounts</mat-icon>
      </ng-template>
      <app-account></app-account>
    </mat-tab>
  </mat-tab-group>
</div>
