<app-playlist-actions></app-playlist-actions>
<mat-divider></mat-divider>
<mat-selection-list
  [multiple]="false"
  *ngIf="playlist.length > 0; else emptyPlaylist"
>
  <mat-list-option *ngFor="let video of playlist">
    <mat-icon mat-list-icon>audiotrack</mat-icon>
    <div class="playlist-item">
      <div class="playlist-item-content">
        <div mat-line>
          <small>{{ video.name }}</small>
        </div>
        <div mat-line>{{ video.votes }} votes</div>
      </div>
      <div>
        <button mat-icon-button [color]="video.liked ? 'accent' : 'defualt'">
          <mat-icon>keyboard_double_arrow_up</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onRemove(video.name)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list-option>
</mat-selection-list>
<ng-template #emptyPlaylist>
  <div class="playlist-empty">
    <h1>No videos</h1>
    <mat-icon>sentiment_dissatisfied</mat-icon>
  </div>
</ng-template>
