:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-selection-list {
  padding-top: 0;
}

::ng-deep {
  .mat-list-text {
    padding-right: 0 !important;
  }
}

mat-selection-list {
  overflow: auto;
}

.playing {
  color: #009688;
  mat-icon {
    margin-right: 0.5rem;
  }
}

.playlist-item {
  display: flex;
  align-items: center;
  &-content {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding-left: 0.5rem;
    overflow: hidden;
    width: 100%;
  }
  &-info {
    overflow: hidden;
  }
  &-actions {
    display: flex;
    align-items: flex-end;
  }
}

.playlist-empty {
  padding: 1rem;
  text-align: center;
  mat-icon {
    margin: 1rem;
    transform: scale(3);
  }
}
