<div *ngIf="playlist$ | async as playlist; else emptyPlaylist">
  <mat-selection-list
    [multiple]="false"
    *ngIf="playlist.length > 0; else emptyPlaylist"
  >
    <mat-list-option *ngIf="playingVideo$ | async as playingVideo">
      <div class="playlist-item">
        <img [src]="playingVideo.thumbnail.url" height="30" width="40" />
        <div class="playlist-item-content playing">
          <div class="playlist-item-info">
            <div mat-line>
              {{ playingVideo.title }}
            </div>
            <small mat-line *ngIf="isPlaying$ | async">Playing</small>
            <small mat-line *ngIf="!(isPlaying$ | async)">Paused</small>
          </div>
          <div class="playlist-item-actions">
            <mat-icon *ngIf="isPlaying$ | async">play_arrow</mat-icon>
            <mat-icon *ngIf="!(isPlaying$ | async)">pause</mat-icon>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
    <mat-list-option *ngFor="let video of playlist">
      <div class="playlist-item">
        <img [src]="video.thumbnail.url" height="30" width="40" />
        <div class="playlist-item-content">
          <div class="playlist-item-info">
            <div mat-line>
              {{ video.title }}
            </div>
            <small
              mat-line
              *ngIf="video.boost && video.boost > 0; else normalPriority"
            >
              Boost <strong>x{{ video.boost }}</strong>
            </small>
            <ng-template #normalPriority>
              <small mat-line>No boost</small>
            </ng-template>
          </div>
          <div
            class="playlist-item-actions"
            *ngIf="currentUser$ | async as user"
          >
            <button
              mat-icon-button
              [color]="
                video.boostedBy?.includes(user.username) ? 'accent' : 'defualt'
              "
              (click)="onBoost(video)"
            >
              <mat-icon>keyboard_double_arrow_up</mat-icon>
            </button>
            <button
              *ngIf="user.admin"
              mat-icon-button
              color="warn"
              (click)="onRemove(video)"
            >
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>
<ng-template #emptyPlaylist>
  <div class="playlist-empty">
    <h1>No videos</h1>
    <mat-icon>sentiment_dissatisfied</mat-icon>
  </div>
</ng-template>
