<div *ngIf="playlist$ | async as playlist; else emptyPlaylist">
  <mat-selection-list
    [multiple]="false"
    *ngIf="playlist.length > 0; else emptyPlaylist"
  >
    <mat-list-option *ngFor="let video of playlist">
      <div class="playlist-item">
        <img [src]="video.thumbnail.url" height="30" width="40" />
        <div class="playlist-item-content">
          <div
            class="playlist-item-info"
            [class.playing]="video === playlist[0]"
          >
            <div mat-line>
              {{ video.title }}
            </div>
            <small
              mat-line
              *ngIf="video.boost && video.boost > 0; else normalPriority"
            >
              Boost <strong>x{{ video.boost }}</strong>
            </small>
            <ng-template #normalPriority>
              <small mat-line>No boost</small>
            </ng-template>
          </div>
          <div class="playlist-item-actions">
            <button
              mat-icon-button
              [color]="video.boosted ? 'accent' : 'defualt'"
            >
              <mat-icon>keyboard_double_arrow_up</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onRemove(video)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>
<ng-template #emptyPlaylist>
  <div class="playlist-empty">
    <h1>No videos</h1>
    <mat-icon>sentiment_dissatisfied</mat-icon>
  </div>
</ng-template>
