:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-selection-list {
  padding-top: 0;
}

::ng-deep {
  .mat-list-text {
    padding-right: 0 !important;
  }
}

mat-selection-list {
  overflow: auto;
}

.playlist-item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  &-content {
    overflow: hidden;
  }
}

.playlist-empty {
  padding: 1rem;
  text-align: center;
  mat-icon {
    margin: 1rem;
    transform: scale(3);
  }
}
